@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Lato:wght@300;400&family=League+Gothic&family=Roboto:wght@100;400&display=swap');


*{
    margin : 0%;
    padding: 0%;
    font-family: "roboto" , sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

